<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source = .;User Id = sa;password = sql;database = TestDataSource"/>
    <!--<add key="LogPathString" value=""/>-->
    <add key="PluginName" value="TestMEF"/>
  </appSettings>
</configuration>